<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ToDoSuite">
  <test thread-count="5" name="ToDoTest">
    <classes>
      <class name="TestCases.ToDoTest"/>
    </classes>
  </test> <!-- ToDoTest -->
</suite> <!-- ToDoSuite -->
